@import url("common.css");



.main_content{
    width:80%;
    display:flex;
    flex-direction:row;
    background-color:var(--light);
    border:none;
}
.main_left{
    flex-grow:1;
    display:flex;
    flex-direction:column;
}
.main_right{
    flex-grow:6;
    background-color:var(--light-background);
    border:2px solid var(--dark);
    border-radius:20px;
    padding:20px;
}
.main_right form{
 width:60%;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
}

/* ---------------- Users (table) ------------- */
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th{
 padding:10px;
}

table{
    width:100%;
    border:none;
}

td{
    text-align: center;
}

td img{
    width:20px;
    padding: 10px;
    border-radius: 20px;
}

td img:hover{
    background-color: var(--accent2);
    cursor: pointer;
}
.form1{
    width:20px;
    padding: 10px;
    border-radius: 20px;
}
.form1:hover{
    background-color: var(--accent2);
    cursor: pointer;
}
/* ----------------- Users (table) ---------- */

/* ------------------ Settings ---------------*/
input {
    width:100%;
    padding:12px 20px;
    margin:8px 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius:20px;
}

.button {
    margin-bottom:5px;
    margin-right:10px;
}

    
.button:hover {
    background-color: var(--accent2);
}

.button:active {
    background-color: var(--accent1);
}

.set-name
{   width:100%;
    display:flex;
    flex-direction: row;
    align-items: center;
    
}

.set-name input{
    width:70%;
    margin:13px 16px 16px 16px;
}
.set-name p
{
    margin-left:15px;
}

.set-dimention
{   width:100%;
    display:flex;
    flex-direction: row;    
}

.set-dimention
{   width:100%;
    display:flex;
    flex-direction: row;

    
}


.select-type
{   width:100%;
    display:flex;
    flex-direction: row;
}
.set-dimention div select{
    margin:13px 16px 16px 16px;
    width:50px;
    height:30px;
}
.set-dimention input{
    width:100px;
    padding:10px 10px 10px 10px;
    height:40px;
    border: 1px solid black;
}
.set-dimention p{
    margin-left:15px;
    margin-top: 18px;
    margin-right:15px;
}

.rar{
    margin:5px;
}

.select-type p
{
    margin-left:15px;
}

.select-number {
    display:flex;
    flex-direction: row;
}

.custom-select
{
    margin-left:2%;
}

.select-number p {
    margin-left:15px;
}
#submit{
    width:30%;
    margin-left:35%;
    margin-right:35%;
}

a{
    text-decoration: none;
}

li span{
    font-weight: bold;
}
/* --------------- Setiings ------------ */

@media only screen and (max-width:1024px) {
    
    /* -------------- Settings ------------- */
    .main_content{
    width:90%;
    display:flex;
    flex-direction: column;
    }
    header {
        font-size: 30px;
    }

    .header_flex .button {

        margin-top:25px;
        font-size: 30px;
        width: 200px;
    }


     .main_left{
        flex-grow: 1;
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        font-size: 50px;
        margin-left: 20%;
    }
    table {
        font-size: 32px;
    }
    footer {
        font-size: 40px;
    }
    .main_right form{
        width:90%;
        font-size: 50px;
    }

    .set-dimention input {
        width:60px;
    }
    
    .set-dimention div select{
    margin:13px 16px 16px 10px;
    width: 100px;
        height: 90px;
        font-size: 30px;
    }
    
    .set-dimention p{
    margin-right:10px;
    }
   
    .rar{
        margin-top:45px;
    }
    .custom-select input{
        margin-top: 40px;
    }
    
    input {
        font-size: 45px;
    }



    .input-number {
        font-size: 45px;
    }

    .input-number input{
        width: 180px;
        height: 90px;
    } 
    

    input.checkrar {
        width: 40px;
        height: 40px;
    }
    /* -------------- Settings ------------- */
    
    /* -------------- Users details ------------- */
    .table{
        overflow-x:scroll;
    }
    
    .main_content {
        margin-top:0px;
        padding-top:0px;
    }

    #submit {
        font-size: 45px;
    }
   
}