:root {
    --light:#fffeff;
    --light-background:#f0f0f0;
    --dark: #3d523b;
    --accent1: #83e760;
    --accent2: #2cb977;
    --accent3: #11798c;
    --error: #b92c2c;
    --error-light: #ffc9c9;
    --back: #3399ff;
}

* {
 font-family: 'Helvetica Neue', sans-serif;
}

html, body, header, footer{
    background-color:beige;
}


h1, h2, h3, h4, h5, h6{
    border:0;
    margin:0;
}

/*-------------- header --------------*/
header{
    position: relative;
    background-color: var(--dark); 
    color: var(--light);
    padding: 10px;
}

.header_flex{
    display: flex;
    flex-flow: row-reverse;
}

header h1{
    position: absolute;
   top:0;
   left:0;
   width: 100%;
   padding-top: 10px;
   text-align: center;
}

.header_flex h5{
    padding: 10px;
}

div.error_panel{
    background-color: var(--error-light);
    position: -webkit-sticky; /*Safari*/
    position:sticky;
    top: 0;
    padding: 20px;
    color: var(--error);
    text-align: center;
}

header .button{
    z-index:10;
}
/*-------------- header --------------*/

/*---------- main container ----------*/
.main_container{
    display:flex;
    flex-direction: column;
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
    min-height: 90vh;
}

.page_title{
    text-align: center;
    width:50%;
    background-color: var(--light-background);
    border: 2px solid var(--dark);   
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px
    
}

.push_content{
    min-height: 100%;
}

.main_content{

    width:50%;
    margin-top:20px;
    background-color: var(--light-background);
    border: 2px solid var(--dark);   
    border-radius: 20px;
    padding: 20px;
}
/*---------- main container ----------*/

/*-------------- footer --------------*/
footer {
    background-color: var(--dark);
    display: flex;
    justify-content: space-between;
    border: 2px solid white;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 20px;
    color: var(--light);
    flex-wrap: wrap;
}


footer a{
    margin-left: 50px;
    text-decoration: underline;
    color:var(--light);
}

footer a:visited{
   color:var(--light);
}

footer a:hover{
   cursor:pointer;
}
/*-------------- footer --------------*/

/*-------------- button --------------*/
.button{
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
    border-radius: 20px;
    padding:5px 10px 5px 10px;
    color: var(--dark);
    background-color: var(--light);
    border: 2px solid var(--dark);
    text-align: center;
}

.button:hover{
    cursor:pointer;
    background-color: var(--accent1);
}

.selected{
    background-color: var(--accent2);
}
/*-------------- button --------------*/


/*------------- pop-up ---------------*/
.popup_layer{
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background-color: #000000a0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.popup_box{
    display: inline-block;
    background-color: var(--light);
    border: 2px solid var(--dark);
    border-radius: 20px;
    padding: 20px;
    min-width: 300px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.popup_box h3{
    padding-bottom: 30px;
}

.buttons_holder{
    flex-direction: row;
    justify-content:center;
}

.popup_layer .button{
    display:inline-flex;
    text-align: center;
}
/*------------- pop-up ---------------*/

input:focus{
    outline:none;
}

.hidden{
    display:none;
}

@media only screen and (max-width: 1024px)
{   

    body{
        font-size:23px;
    }

    input{
        font-size:23px;
    }

    table{
        font-size:15px; 
    }
    /* .button{
        font-size: 1.2em;
    }

    h1, h2, h3, h4, h5{
        font-size: 1.2em;
    } */

    .header_flex{
        display:flex;
        flex-flow:column-reverse;
    }
    
    .header h1 {
        width:150px;
        margin-left:36%;
        align-self: center;
    }
    
    .header_flex .button
    {   text-align: center;
        width:100px;
        align-self:center;
        margin-left:5px;
    } 
    
    footer{
        font-size:20px;
    }
    
}
