@import url("common.css");

.main_content{
    width:25%;
}

form {
    text-align: center;
}


.container {
    padding: 18px;
    
}

input {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius:20px;
}


.button{
    padding: 10px 10px;
    margin-top:10px;
    margin-bottom:10px;
    width:150px;
    margin-left: auto;
    margin-right: auto;
}
.button:hover {
    background-color: var(--accent2);
}
.button:active {
    background-color: var(--accent1);
}

@media only screen and (max-width: 1024px)
{
    .main_content{
        width:80%;
        font-size: 45px;
    }
    
    header {
        font-size: 30px;
    }
    .page_title{
        width:80%;
        font-size: 45px;
    }
    input {
        font-size: 45px;
    }
    .button{
        font-size: 45px;
        width: 300px;
    }
    footer {
        font-size: 40px;
    }
}
  
  
  