@import url("common.css");

.page_title{
    width:30%;
}

.main_content{
    width:30%;
}

form {
    text-align: center;
}

input {
     width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius:20px;
}

.button{
    padding: 10px 10px;
    margin-top:10px;
    margin-bottom:10px;
    width:100px;
    margin-left: auto;
    margin-right: auto;
}
    
.button:hover {
    background-color: var(--accent2);
}

.button:active {
    background-color: var(--accent1);
}


.terms{
    display:flex;
    flex-direction: row-reverse;
    justify-content: center;
}

@media only screen and (max-width:1024px) {
    header {
        font-size: 30px;
    }
    .page_title{
        width:80%;
        font-size: 45px;
    }
    .main_content{
        width:80%;
        font-size: 45px;
    }
    .button{
        width: 300px;
    }
    .page_title{
        width:80%;
    }
    input {
        font-size: 45px;
    }
    footer {
        font-size: 40px;
    }
    
}
