@import url("common.css");

.main_content{
    width:80%;
    background-color: var(--light-background);
    border: 2px solid var(--dark);   
    border-radius: 20px;
    padding: 20px;
}

.main_left{
    flex-grow: 1;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.main_right{
    flex-grow: 6;
    background-color: var(--light-background);
    border: 2px solid var(--dark);   
    border-radius: 20px;
    padding: 20px;
}
/* 
.button{
    margin-bottom:5px;
    margin-right:10px;
} */

/*--------------------- table ----------------*/

table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

th{
 padding:10px;
}

table{
    width:100%;
    border:none;
}

td{
    text-align: center;
}

td img{
    width:20px;
    padding: 10px;
    border-radius: 20px;
}

td img:hover{
    background-color: var(--accent2);
}

td .file_input img:hover{
    background-color: none;
}
/*--------------------- table ----------------*/


/*-------------- create archive --------------*/
form{
    /* display: flex;
    flex-direction: column; */
    align-items: center;
}

form .button{
    /* display: inline-flex; */
    margin-top:20px;
}

.horizontal_selector{
    width:100%;
    display:flex;
    flex-direction: row;
    justify-content: center;
}

 .horizontal_selector .button{
    display: inline;
    flex:1;
    margin-left: 10px;
    margin-right: 10px;
}

.horizontal_selector .button:hover{
    background-color: var(--accent1);
    cursor: pointer;
}

.horizontal_selector .selected{
    background-color: var(--accent2);
}

.main_content form{
    width:60%;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
}

.main_right form{
    width:60%;
    margin-left: auto;
    margin-right: auto;
    align-content: center;
}

input[type=text], input[type=password], input[type=datetime-local]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius:20px;
}

.file_input{
    display: flex;
    width: 100%;
    border: 2px solid var(--dark);
    border-radius:20px;
    background-color: var(--light);
    align-items: center;
    margin-bottom: 10px;
}

.file_input img{
    width:20px;
    padding: 10px;
}

.file_input div{
    display:inline-block;
    padding: 10px;
}

.separator{
    width:2px;
    height:30px;
    background-color:var(--dark);
}

.add:hover{
    cursor:pointer;
    background-color: var(--accent1);
}
.delete{
    border-radius: 20px;
}

.delete:hover{
    cursor:pointer;
    background-color: var(--error-light);
}
/*-------------- create archive --------------*/


/*-------------- account settings -------------*/

span{
    color: var(--accent3);
}


.center_content{
    text-align: center;
}

h4{
    padding: 5px;
}

.long{
    width:300px;
}

.rotate{
    transform: rotate(180deg);
}

@media only screen and (max-width:1024px) {
    
    .main_content{
    width:90%;
    display:flex;
    flex-direction: column;
    font-size: 30px;
    }
    header {
        font-size: 30px;
    }
    .header_flex .button {

        margin-top:25px;
        font-size: 35px;
        width: 200px;
    }
    .main_left{
        flex-grow: 1;
        display:flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    input {
        font-size: 35px;
    }
    table {
        font-size: 25px;
    }
    .main_right form{
        width:90%;
    }
    
    .main_content form{
        width:90%;
    }

    .table{
        overflow-x:scroll;
    }
    
    .main_left{
        align-items: center;
    }
    
}